In [1]:
import pandas as pd
import os
import csv

In [3]:
df = pd.read_csv("data/cb_data_2018.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [4]:
df_group = df.groupby(['start station id'])
df_group

In [10]:
df_group[['start station id', 'end station id']].count()

                  start station id  end station id
start station id
3183                         16813           16813
3184                          7847            7847
3185                          7744            7744
3186                         35183           35183
3187                          8300            8300
3188                            49              49
3189                            42              42
3190                           155             155
3191                           876             876
3192                          6349            6349
3193                          2236            2236
3194                          4893            4893
3195                         15625           15625
3196                          1882            1882
3198                          2267            2267
3199                          9096            9096
3200                            47              47
3201                          1067            1067
3202                         13462           13462
3203                         18182           18182
3205                          4418            4418
3206                          2752            2752
3207                          4701            4701
3209                          6320            6320
3210                          3732            3732
3211                          8312            8312
3212                          2201            2201
3213                          8041            8041
3214                          5747            5747
3216                            14              14
3217                            34              34
3220                          1778            1778
3225                          3552            3552
3267                          9448            9448
3268                          1688            1688
3269                          7075            7075
3270                          6926            6926
3271                            19              19
3272                          6907            6907
3273                          5721            5721
3274                            24              24
3275                          6253            6253
3276                          9128            9128
3277                          1233            1233
3278                          4956            4956
3279                          4911            4911
3280                          2415            2415
3281                          2337            2337
3426                            36              36
3481                          2897            2897
3483                          2075            2075
3638                          6484            6484
3639                         10554           10554
3640                          4883            4883
3677                           993             993
3678                          2131            2131
3679                          2065            2065
3681                          3608            3608
3694                           293             293