In [4]:
import pandas as pd
import os
import csv

In [5]:
cbData_0118 = "data/JC-201801-citibike-tripdata.csv"
cbData_0218 = "data/JC-201802-citibike-tripdata.csv"
cbData_0318 = "data/JC-201803-citibike-tripdata.csv"
cbData_0418 = "data/JC-201804-citibike-tripdata.csv"
cbData_0518 = "data/JC-201805-citibike-tripdata.csv"
cbData_0618 = "data/JC-201806-citibike-tripdata.csv"
cbData_0718 = "data/JC-201807-citibike-tripdata.csv"
cbData_0818 = "data/JC-201808-citibike-tripdata.csv"
cbData_0918 = "data/JC-201809-citibike-tripdata.csv"
cbData_1018 = "data/JC-201810-citibike-tripdata.csv"

df0118 = pd.read_csv(cbData_0118)
df0218 = pd.read_csv(cbData_0218)
df0318 = pd.read_csv(cbData_0318)
df0418 = pd.read_csv(cbData_0418)
df0518 = pd.read_csv(cbData_0518)
df0618 = pd.read_csv(cbData_0618)
df0718 = pd.read_csv(cbData_0718)
df0818 = pd.read_csv(cbData_0818)
df0918 = pd.read_csv(cbData_0918)
df1018 = pd.read_csv(cbData_1018)

df_list = [df0118, df0218, df0318, df0418, df0518, df0618, df0718, df0818, df0918, df1018]

In [6]:
df = pd.concat(df_list, axis=0, join='inner')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [7]:
df.count()

tripduration               308777
starttime                  308777
stoptime                   308777
start station id           308777
start station name         308777
start station latitude     308777
start station longitude    308777
end station id             308777
end station name           308777
end station latitude       308777
end station longitude      308777
bikeid                     308777
usertype                   308777
birth year                 308777
gender                     308777
dtype: int64

In [8]:
df.to_csv('data/cb_data_2018.csv', sep=',', encoding='utf-8', index=False)

In [15]:
df = pd.read_csv("data/cb_data_2018.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [26]:
start = df['start station id'].unique()
start

end = df['end station id'].unique()
end

array([3199, 3267, 3639, 3203, 3205, 3275, 3281, 3269, 3187, 3194, 3185,
       3276, 3184, 3481, 3183, 3213, 3192, 3214, 3272, 3211, 3207, 3273,
       3209, 3202, 3270, 3279, 3186, 3638, 3210, 3278, 3220, 3190, 3198,
       3196, 3268, 3225, 3195, 3271, 3191, 3640, 3280, 3277, 3212, 3206,
       3426, 3193, 3189, 3216, 3188, 3201, 3200, 3217,  520,  514,  327,
       3274,  303,  377,  309,  462, 3541,  537, 3681, 3677, 3483, 3679,
       3678,  427,  472, 3415, 3002,  501,  426,  304,  319,  457,  525,
        212, 3552,  447,  505,  157, 3311, 3547, 2006, 3163, 3256,  276,
       3467,  331, 3694,  398,  526,  486,  508,  478,  359, 3461,  376,
        513,  498,  345, 3539,  167,  264,  453,  417,  127,  306, 3356,
        422,  146,  353,  380,  534,  336, 2023, 3400,  448,  259, 3165])